<title>Escolha de médico</title>
<h1><strong>Encontre um médico</strong></h1>
<nav style="background-color:gray; width:200px; float:left;">
	<strong>
		<%= form_for(:consulta, :url => {:controller => 'agendamento', :action => 'busca'}) do |a|%>
			nome<br>
			<%= a.text_field(:nome) %><br>
			CRM<br>
			<%= a.text_field(:CRM) %><br>
			Especialidade<br>
			<%= a.radio_button :especialidade, 'Oftalmo'%>Oftalmo<br>
			<%= a.radio_button :especialidade, 'Cirurgião'%>Cirurgião<br>
			<%= a.radio_button :especialidade, 'Pessoa'%>Pessoa<br>
			<%= a.radio_button :especialidade, 'Morto-vivo'%>Morto-vivo<br>
			<%= a.radio_button :especialidade, 'Alien'%>Alien<br>
			<%= submit_tag ("enviar")%>
		<%end%>
	</strong>
</nav>

<nav style="position:absolute; left:250px; up:300px; height:700px;">
	Use a busca ao lado para encontrar o médico.<br>
</nav>