<table summary="paciente">
	<tr>
		<th><%= f.label(:nome) %></th>
		<td><%= f.text_field(:nome) %></td>
	</tr>
	<tr>
		<th><%= f.label(:email) %></th>
		<td><%= f.text_field(:email) %></td>
	</tr>
	<tr>
		<th><%= f.label(:usuario) %></th>
		<td><%= f.text_field(:usuario) %></td>
	</tr>
	<tr>
		<th><%= f.label(:password_digest) %></th>
		<td><%= f.text_area(:password_digest) %></td>
	</tr>
</table>