<% @page_title = "AdminUsers" %>

<%= link_to("<< Voltar", {:controller => "principal", :action => "index"}) %>
<style>
#leftcolumn {width:200px; padding:5px; float: left;}
#medicos_index {}
#pesquisa {background-color: #d8e2e4}
#negrito {font-weight: bold}
</style>


<div id="medicos_index">
	<h2>Medicos</h2>
	<%if session[:admin_id] %>
		<%= link_to(image_tag('plus-sign.png', :size => '16x16', :alt => '+') + "Cadastrar Medico", new_medico_path, :class => 'action new') %>
	<%end%>
	<div> <%= pluralize(@medicos.size, 'Medico') %> encontrados</div>
	<table class="listing" summary="medico list">
		<tr class="header">
			<th>Nome</th>
			<th>Especialidade</th>
			<th>Telefone</th>
		<tr>
		<% @medicos.each do |medico| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= medico.nome %></td>
			<td><%= medico.especialidade %></td>
			<td><%= medico.telefone %></td>
			<td class="actions">
				<%= link_to("Detalhes", medico_path(medico.id), :class => 'action show') %>
				<%if session[:admin_id]%>
					%= link_to("Edit", edit_medico_path(medico.id), :class => 'action edit') %>
					<%= link_to("Delete", delete_medico_path(medico.id), :class => 'action delete') %>
				<%end%>
			</td>
		</tr>
		<% end %>
	</table>
</div>