<% @page_title = "Cadastro de Medico" %>

<%= link_to("<< Voltar", medicos_path, :class => 'back-link') %>

<div class="medico new">
	<h2>Cadastro de Medico</h2>

	<%= form_for(@medico) do |f| %>
		
		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Cadastrar") %>
		</div>
		
	<% end %>

	<%= form_for(:consulta, :url => {:controller => 'agendamento', :action => 'busca'}) do |a|%>
		nome<br>
		<%= a.text_field(:nome) %><br>
		CRM<br>
		<%= a.text_field(:CRM) %><br>
		telefone<br>
		<%= a.text_field(:telefone) %><br>
		Especialidade<br>
		<%= a.radio_button :especialidade, 'Oftalmo'%>Oftalmo<br>
		<%= a.radio_button :especialidade, 'Cirurgião'%>Cirurgião<br>
		<%= a.radio_button :especialidade, 'Pessoa'%>Pessoa<br>
		<%= a.radio_button :especialidade, 'Morto-vivo'%>Morto-vivo<br>
		<%= a.radio_button :especialidade, 'Alien'%>Alien<br>
		<%= submit_tag ("enviar")%>
	<%end%>
</div>